<section class="container my-4" id="work-section">
<div class="border rounded p-3 mx-auto" style="max-width: 800px;">
    <div class="d-flex justify-content-center mb-3">
        <div class="btn-group shadow-sm w-100" role="group" style="max-width: 400px; border-radius: 10px; overflow: hidden;">
            <button id="eduBtn" type="button" class="btn btn-primary active w-50 text-center" onclick="showSection('education')">Education</button>
            <button id="workBtn" type="button" class="btn btn-primary w-50 text-center" onclick="showSection('work')">Work</button>
        </div>
    </div>



    <!-- Education Section -->
    <div id="education" class="section-content d-flex">
            <img src="~/logos/purduelogo.png" class="me-3 img-fluid rounded logosmall" alt="Purdue Logo" />
        <div>
            <p class="mb-1"><strong>Aug 2023 - May 2027</strong></p>
            <p class="mb-1">Purdue University</p>
            <p class="mb-1">West Lafayette, Indiana</p>
            <p>Bachelor of Science (BS): Double Major in Web Development & Data Visualization.</p>
        </div>
    </div>

    <!-- Work Section -->
    <div id="work" class="section-content d-none flex-column">
        <div class="d-flex mb-3">
                <img src="~/logos/westernlogo.png" class="me-3 img-fluid rounded logosmall" alt="Western Specialty Logo" />
            <div>
                <p class="mb-1"><strong>May 2025 - Aug 2025 • 4 mos</strong></p>
                <p class="mb-1">Western Specialty Contractors</p>
                <p class="mb-1">Indianapolis, Indiana</p>
                    <p>Intern - Project Management / Sales / Estimating</p>
            </div>
        </div>
        <div class="d-flex">
                <img src="~/logos/subwaylogo.png" class="me-3 img-fluid rounded logosmall" alt="Subway Logo" />
            <div>
                <p class="mb-1"><strong>Dec 2022 - Jul 2023 • 8 mos</strong></p>
                <p class="mb-1">Subway</p>
                <p class="mb-1">Highland, Indiana</p>
                    <p>Sandwich Artist</p>
            </div>
        </div>
    </div>
</div>
</section>