<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>innoantoskiewicz.com</title>
    <link rel="icon" type="image/x-icon" href="~/logos/fav-icon.png" />
    <script type="importmap"></script>
    @await Html.PartialAsync("_LayoutAssets")  <!-- injects all your <link> and <script> tags -->
    @await RenderSectionAsync("Scripts", required: false)
   

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid position-relative">
                <!-- Hamburger (left on mobile only) -->
                <button class="navbar-toggler btn-outline-secondary d-block d-sm-none " id="mainNav" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Centered nav links (desktop & mobile collapse) -->
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav d-flex flex-column flex-sm-row text-center gap-4">
                        <li class="nav-item">
                            <a class="nav-link fs-4" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" href="#work-section" >Work</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" href="#projects-section" >Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-4" href="#contact-section" >Contact</a>
                        </li>
                    </ul>
                </div>

                <!-- Moon icon (always top right) -->
                <button id="themeToggle" class="btn btn-outline-secondary position-absolute end-0 hamburger-default" aria-label="Toggle dark mode">
                    <i class="fas fa-moon"></i>
                </button>
            </div>
        </nav>
        
       
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - InnosPortfolio <!-- - <a asp-area="" asp-page="/Privacy">Privacy</a> -->
        </div>
    </footer>

    
</body>
</html>
